[PiFM]
# Frequency for the radio and directory where to find the music
frequency = 92.7
musicdir = /home/pi/pifm/
[API]
# Login settings and URL for the API
url = http://localhost/radio/api.php
username = raspberry_pi_fm
password = yet_another_password
[Player]
# After how many minutes is a song allowed to be replayed
can_repeat_after = 120